@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@700&display=swap');

html{
  scroll-behavior: smooth;
}
body{
  margin: 0; padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #D2D6EF;
 }

nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #0F5257;
  padding-bottom: 15px;

}

nav h1 {
  color: #554348;
  font-family: 'Playfair Display', sans-serif ;
  font-size: 30px;
  padding: 3px;
  margin-right: 300px;
}

nav .onglets{
  margin-top: 3px;
  margin-left: 300px;
  
}

nav .onglets a{
  text-decoration: none;
  color: #554348;
  margin-right: 10px;
  border-bottom: 1px solid #554348;
  padding-bottom: 5px;

}

header{
  display: flex; /* Aligne les éléments */
  flex-direction: column; /* Empiles les éléments en colonne */
  align-items: center; /* Centre les éléments dans le bloc parent */
  background-image: url('../img/background_header.jpg');
  background-size: cover;
  color: #fff;
  padding: 40px;
}

header h1{
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
}

header h4{
  font-family: 'Montserrat', sans-serif;
  margin-top: -20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid white;
}

.main{
  margin-top: 40px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.main .content .intro{
  padding : 0 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.main .content .intro .left{
  flex: 0 0 30%; 
  padding: 20px;
  background-color: #C5D1EB;
}

.main .content .intro.right{
  margin-left: 30px;
  flex: 0 0 70%;
}

.right{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.main .content .intro .right img{
  height: 450px;
  width: 600px;
  margin-top: 5px;
  border-radius: 10%;
  opacity: 0.75;
}

.main .content .intro .right img.gif{
  height: 350px; 
  width: 600px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: medium;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

footer{
  margin-top: 40px;
  border-top: 5px solid #0F5257;
  background-color: #C5D1EB;
  padding: 30px 100px;
}

footer h1{
  font-family: 'Playfair Display', sans-serif;
  width: 20%;
  padding-bottom: 5px;
  text-decoration: underline 2px solid black;
}

footer .services{
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}

footer .services .service{
  margin-right: 30px;
  padding: 10px;
}

footer .services .service p{
  max-width: 380px;
}

@media screen and (max-width: 1025px){
  nav{
    display: flex;
    flex-direction: column;
  }
  nav h1{
    margin-right: 0;
  }
  nav .onglets{
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .main .intro{
    margin: 10px;
  }

  .main .content .intro .right img{
    height: 200px; width: 100%;
    margin-top: 0px;
  }

  .main .content .intro{
    display: block;
  }

  footer{
    padding: 30px;
  }

  footer h1{
    width: auto;
  }
}

